@import 'general.css';

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2em;
}

.title {
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--olive);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 50rem;
    text-align: center;
}

.categories-list {
    width: 50em;
    height: 10em;
    border: 1px solid var(--olive);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.categories-list ul li {
    width: 50%;
    font-size: 1.2rem;
    color: var(--white);
    margin: .3em 0;
    text-align: center;
}

.categories-list ul li:last-child {
    width: 100%;
}

.categories-list ul li span {
    margin-right: 1em;
}

.table-wrapper {
    width: 50em;
    height: 30em;
    overflow-y: scroll;
    border: 1px solid var(--olive);
    border-radius: 5px;
    margin-bottom: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

table thead {
    position: sticky;
    top: 0;
    background-color: var(--olive);
    color: var(--white);
}

table th {
    padding: .2em;
}

table tbody tr:nth-child(odd) {
    background-color: var(--white);
}

table tbody tr:nth-child(even) {
    background-color: var(--grey);
}

.table-wrapper::-webkit-scrollbar {
    width: auto;
}

.table-wrapper::-webkit-scrollbar-track {
  background: var(--olive);
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

.title.new-goods {
    width: 25rem;
}

.goods-inserter {
    width: 25em;
    height: 20em;
    border: 1px solid var(--olive);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.goods-inserter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.goods-inserter label {
    color: var(--white);
}