<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Room - Overview</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/overview.css') }}">
    <script src="{{ url_for('static', filename='js/overview.js') }}" defer></script>
</head>
{% endblock %}
{% block content %}
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('overview') }}">Overview</a></li>
            <li><a href="{{ url_for('recipients') }}">Recipients</a></li>
            <li><a href="{{ url_for('issuing') }}">Issue goods</a></li>
            <li><a href="{{ url_for('account') }}">My account</a></li>
        </ul>
        <a href="{{ url_for('login') }}"><i class="bi bi-box-arrow-right"></i></a>
    </nav>
    <div class="container">
        <p class="title">Check goods availability</p>
        <div class="categories-list">
            <ul>
                <li><span>T-shirts</span> <input type="checkbox"></li>
                <li><span>Bottoms</span> <input type="checkbox"></li>
                <li><span>Shoes</span> <input type="checkbox"></li>
                <li><span>Fleeces</span> <input type="checkbox"></li>
                <li><span>Office supplies</span> <input type="checkbox"></li>
            </ul>
        </div>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>EAN</th>
                        <th>Unit</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
</html>