<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Room - Forgot password?</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authorization.css') }}">
    <script src="{{ url_for('static', filename='js/recovery_password.js') }}" defer></script>
</head>
{% endblock %}
{% block content %}
<body>
    <div class="login-form form-recovery">
        <p class="reset-pass-info">Type your e-mail below to reset your password:</p>
        <form action="" method="POST">
            <label for="email">E-MAIL</label>
            <div class="input-wrapper">
                <span class="color-tab"></span>
                <input name="email" type="email">
            </div>
            <button id="submit-btn" type="submit">RESET</button>
            <button id="previous-page" type="button">MAIN PAGE</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="auth-success">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
    <div class="custom-alert">
        <p>Please, type your e-mail!</p>
        <button id="confirm-btn" type="button">Confirm</button>
    </div>
</body>
{% endblock %}
</html>