<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Room - Reset password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authorization.css') }}">
    <script src="{{ url_for('static', filename='js/reset_password.js') }}" defer></script>
</head>
{% endblock %}
{% block content %}
<body>
    <div class="login-form">
        <form action="" method="POST">
            <label for="new-password">NEW PASSWORD</label>
            <div class="input-wrapper">
                <span class="color-tab"></span>
                <input name="new-password" type="password">
            </div>
            <label for="confirm-password">CONFIRM NEW PASSWORD</label>
            <div class="input-wrapper">
                <span class="color-tab"></span>
                <input name="confirm-password" type="password">
            </div>
            <button id="submit-btn" type="submit">CHANGE PASSWORD</button>
            <button id="previous-page" type="button">MAIN PAGE</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
    <div class="custom-alert">
        <p>Please, fullfill both fields!</p>
        <button id="confirm-btn" type="button">Confirm</button>
    </div>
</body>
{% endblock %}
</html>